.Stwo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
.Scroll{
        width: 100vw;
        height: 320px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-items: center;
        justify-content: space-between;
    }
.Sthree{
    /* background-color: blueviolet; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}    
.Extwo{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Extwo div{
    max-width: 80%;
}
.ExIma{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.ExIma img{
    object-fit: contain;
    width: 80%;
    border-radius: 50%;
}


.Buttn{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 50px;
    margin: 100px 10px;
    border-bottom-left-radius: 10px;
}

.BgC{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
    width: 100%;
}
.GRight{
    position: relative;
    right: 250px;
}
.GLeft{
    position: relative;
    left: 200px;
    top: 280px;
}