.Tone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 200vh; */
    width: 100vw;
    overflow: hidden;

    background-color: rgb(60, 60, 60);
}
.Vector{
    border: 1px solid white;
    object-fit: contain;
    width: 40%;
}