/* import font localy  */

 @font-face {
    font-family: "upheavtt";
    src: local("upheavtt"),
    url("../../fonts/upheaval/upheavtt.ttf") format("truetype");
    font-weight: lighter;
} 

.None{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-family: "upheavtt";
    font-weight: 200;
    font-size: 35px;
}
.Ntwo{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 95%;
    margin: auto;   
    align-items: baseline;
}
.Ntem{
    cursor: pointer;
    font-size: 20px;
}
.Ntem:hover{
    color: #22BC50;
}
    
.Icon img{
    position: relative;
    object-fit: contain;
}
