/* Blue */

@import url(//db.onlinewebfonts.com/c/b319832aeb7144538fd98da7e7246c04?family=Peepo);

@font-face {
    font-family: "upheavtt";
    src: local("upheavtt"),
    url("../../fonts/upheaval/upheavtt.ttf") format("truetype");
    font-weight: lighter;
}

.Blue{
    width: 750px;
    height: 750px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(80, 34, 188, 0.16) 0%, rgba(80, 34, 188, 0) 100%);
}
.Orange{
    width: 750px;
    height: 750px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(188, 80, 34, 0.16) 0%, rgba(188, 80, 34, 0) 100%);
}

.Htex{
    font-family: "upheavtt";
    font-size: 40px;
    text-align: center;
}
/* Peppo */
.Peep{
    font-family: "Peepo";
    font-size: 18px;
    margin: 0;  
    line-height: 30px;
}