.SeOne{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* background-image: "../../photos/Grains.png"; */
}

.Right{
    float: right;
    width: 60%;
    height: 100%;
}
.Left{
    position: relative;
    float: left;
    width: 40%;
    height: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.Lim{
    width: 80%;
    border-radius: 50%;
}
.Lci{
    position: absolute;
    width: 82%;
    border-radius: 50%;
}

/* SecRigth One */
.RightOne{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 10px 80px;
}
.RightOne span
{  
    font-size: 26px;
    font-weight: lighter;
    font-family: "Thintel";
}
.RightOne h1{
    font-family: "upheavtt";
    background: linear-gradient(180deg, #22BC50 0%, rgba(0, 201, 60, 0.3) 100%);
    position: relative;
    text-shadow: 0px -2px 4px 0px #5FC17C29;
    font-size: 8em;
    margin: 0;
    background-clip: text;
    color: transparent;
    /* background-color: aqua; */
}
.RightOne h3{
    font-family: "upheavtt";
    margin: 0;
    position: relative;
    font-size: 3.4em;
    background: linear-gradient(180deg, #22BC50 0%, rgba(0, 201, 60, 0.3) 100%);
    text-shadow: 0px -2px 4px rgba(95, 193, 124, 0.16);
    background-clip: text;
    color: transparent;
    top: -15px;
}

/* Bg gradients */
.BgGradiant{
    position: absolute;
    width: 80%;
    bottom: 8px;
    z-index: 1;
}
.BgBluex{
    position: absolute;
    right: 70%;
    bottom: 1%;
}
.BgOrangx{
    bottom: -50px;
    left: 80%;
    position: absolute;
}
/* Common */
.Common{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* background-color: #22BC50; */
    margin-top: 10px;
}
.TwoButon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* Yoyo */
.Paki{
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: -0.5px;
}
 
.Yoyo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 30px;
    right: 10px;
}
.Rou{
    border-radius: 50%;
    width:89%;
}
.Rout{
    width: 90%;
    position: absolute;
}
.yoya{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Roua{
    border-radius: 50%;
    position: relative;
    width:78%;
}
.Routa{
    right: 20px;
    width: 40%;
    right:10% ;
    position: absolute;
    top: -5px;
}

/* for Mobile */
@media only screen and (max-width: 600px)   , (max-device-width: 1024px)  {
    .SeOne{
        margin-top: 20px;
        height: max-content;
        flex-direction: column-reverse;
    }
    .Paki{
        display: none;
    }
    .TwoButon{
        padding: 10px;
    }
    .Right{
        width: 100%;
    }
    .Left{
        width: 70%;
    }
    .RightOne{
        margin-top: 30px;
        width: 85%;
        text-align: center;
        display: flex;
        flex-direction: column;
        /* background-color: #22BC50; */
        align-items: center;
        margin-left: -50px;
    }
    .Common{
        width: 100%;
        margin-top: 20px;
        flex-wrap: wrap;
    }
}