body {
  margin: 0;
  color: white;
  font-family: "peepo";
}

@font-face {
    font-family: "upheavtt";
    src: local("upheavtt"),
     url("./fonts/upheaval/upheavtt.ttf") format("TrueType");
    font-weight: bold;
}
@font-face {
  font-family: "peepo";
  src: local("peepo"),
    url("./fonts/pepoo/Peepo.ttf") format("TrueType");
  font-weight: bold;
}


 
