body {
  margin: 0;
  color: white;
  font-family: "peepo";
  overflow-x: hidden;
  height: max-content;
  /* overflow: hidden; */
  background-color: black;
}

@font-face {
    font-family: "upheavtt";
    src: local("upheavtt"),
     url("./fonts/upheaval/upheavtt.ttf") format("TrueType");
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
   body ,html{
    overflow-x: hidden;
  }
  body{
    width: 100%;
  }
} 


 
