.Fone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200vh;
    width: 100vw;
    overflow: hidden;

}
.SmF{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 250px;
    align-items: center;
    justify-content: space-between
}
.SmallBG{
    position: absolute;
    width: 100vw;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.SLeft{
    position: relative;
    bottom: 160px;
    right: 200px;
}
.SRight{
    position: relative;
    top: 60px;
    left: 150px;
}



.Bigfa{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    align-items: center;
}
/* Rigth fa */
.FaLeft{
    width: 55%;
    margin-left: 30px;
}
.FaRight{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;    
    position: relative;
}
.FaRimg{
    border-radius: 50%;
    width: 80%;
}
.Circ{
    position: absolute;
    width: 82%;
}

/* Left question */
.FaqQ{

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 5px;
    margin-top: 10px;
}

.FTwo{
    z-index: 2;
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: white;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid #424242;
}
.FTwo img {
    cursor: pointer;
}
/* adding before to p in FaqQ */
.FaqQ p{
    max-width: 70%;
}
.FaqQ p::after{
    content: "";
    display: block;
    position: relative;
    width: 510px;
    border-bottom: 2px solid #424242;
}
.FaqA{
    padding: 8px;
    display: block;
    transition: all 0.5s ease;
}
.FaqA2{
    transition: all 0.5s ease;

    padding: 8px;
    display: none;
}

.BGH{
    position: absolute;
    width: 100%;
    height: 650px;
    flex-direction: row;
    /* background-color: blueviolet; */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Leed{
    position: relative;
    bottom: 180px;
    right: 180px;
}
.Rii{
    position: relative;
    top: 200px;
}